{% extends "base.html" %}
{% block title %}Bookings{% endblock %}
{% block head %}
    {{ super() }}


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, calendar_options);

    {% if defdate is defined %}
    calendar.gotoDate("{{defdate}}")
    {% endif %}

    calendar.render();

  });

  function change_vendor() {
    var x = document.getElementById("vendor_select").value;
    var e = document.getElementById("vendor_select");

    {% if session["env"] != "" %}
    var env = "/{{ session['env'] }}";
    {% else %}
    var env = ""
    {% endif %}

      if(x){
        $.ajax({
            type:'GET',
            url:'/fpa/api/v1/complexes/' + x + env,
            dataType:'json',
            success:function(retData){
                $('#complex_select').empty().val('0');
                retData.forEach(function(element) {
                  $('#complex_select').append('<option value="'+ element.id +'">'+ element.complex_name +'</option>');
                });
                $('#complex_select').change();
                change_complex();
            },
            error: function(req, status, error) {
             alert( req.responseText );
            }
        });
    }
  }



  function change_complex() {

    // console.log($('#complex_select').val());
    if ($('#complex_select').val()) {
      $('#nextbtn').prop("disabled", false);
    }
    else {
      $('#nextbtn').prop("disabled", true);
    }
  }

</script>

{% endblock %}
{% block content %}

<form id="envform" action="{{ url_for('gui_blueprint._bookings') }}" method="POST">
<h5 class="card-header text-white bg-secondary">
  <span class="px-8">Bookings for &nbsp;&nbsp;&nbsp;</span>
  <span>
    {{ envf.env_select() }}
  </span>
</h5>
</form>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-1"></div>
    <div id='calendar' class="calendar_fpa col-lg-9"></div>
  </div>
</div>

<!-- Modal used to hold the modal dialogs for the bookings -->
<div class="modal fade bd-example-modal-lg" id="newBookingModal" role="dialog" data-focus="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content" id="model-content-opt">
      <!-- Modal content-->
      </div>
    </div>
</div>

<script>

$(document).ready(function () {
  $("#env_select option[value='{{ session["env"] }}']").prop('selected', true);
});

function change_env() {
  console.log($('#env_select').val());
  $('#envform').submit();
}

</script>


{% endblock %}
