{% extends "base.html" %}
{% block title %}Bookings{% endblock %}
{% block head %}
    {{ super() }}


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, calendar_options);

    {% if defdate is defined %}
    calendar.gotoDate("{{defdate}}")
    {% endif %}

    calendar.render();

  });

  function change_vendor() {
    var x = document.getElementById("vendor_select").value;
    var e = document.getElementById("vendor_select");
      if(x){
        $.ajax({
            type:'GET',
            url:'/fpa/api/v1/complexes/' + x,
            dataType:'json',
            success:function(retData){
                $('#complex_select').empty().val('0');
                retData.forEach(function(element) {
                  $('#complex_select').append('<option value="'+ element.id +'">'+ element.complex_name +'</option>');
                });
                $('#complex_select').change();
            },
            error: function(req, status, error) {
             alert( req.responseText );
            }
        });
    }
  }



  function change_complex() {

    console.log($('#complex_select').val());
    if ($('#complex_select').val()) {
      $('#nextbtn').prop("disabled", false);
    }
    else {
      $('#nextbtn').prop("disabled", true);
    }
  }

</script>

{% endblock %}
{% block content %}

<h5 class="card-header text-white bg-secondary">Bookings</h5>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-1"></div>
    <div id='calendar' class="calendar_fpa col-lg-9"></div>
  </div>
</div>

<!-- Modal used to hold the modeal dialogs for the bookings -->
<div class="modal fade bd-example-modal-lg" id="newBookingModal" role="dialog" data-focus="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content" id="model-content-opt">
      <!-- Modal content-->
      </div>
    </div>
</div>

<div class="modal fade" id="lockedBookingModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="lmodal-title font-weight-bold text-dark text-center" id="lockedModalLabel">Locked</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-body p-2 m-5">
            <h5 class="p-1 mx-1 font-weight-bold text-secondary text-center">Error: This date is currently locked.</h5>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="checkBookingModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="checkModalLabel">Event Details: <span id="bookingTitle" name="startDate" class="badge p-1"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-light">
          <table>
          <tr><td class="p-1 mx-1 font-weight-bold">Owner</td><td><div id="bookingOwner"></div></td>
          <tr><td class="p-1 mx-1 font-weight-bold">Type</td><td><div id="bookingType"></div></td>
          <tr><td class="p-1 mx-1 font-weight-bold">Info</td><td><div id="bookingInfo"></div></td>
          <tr><td class="p-1 mx-1 font-weight-bold">Start</td><td><div id="bookingStart"></div></td>
          <tr><td class="p-1 mx-1 font-weight-bold">End</td><td><div id="bookingEnd"></div></td>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>

{% endblock %}
