{% extends "base.html" %}
{% block title %}Communications{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<h5 class="card-header text-white bg-secondary">Communications</h5>

{% if form %}
  <form action="{{ url_for('gui_blueprint._comms') }}" method="POST">
  <div class="d-flex flex-row bg-light pl-1 h-30">
    <div class="p-1 m-1 flex-column justify-content-center align-self-center text-dark font-weight-bold">Date:</div>
    <div class="p-1 m-1 flex-column justify-content-center align-self-center date input-group w-25" id="datetimepicker1" data-target-input="nearest">{{ form.date_picker(size="15", class_="px-4 datetimepicker-input") }}</div>
    <div class="p-1 m-1 flex-column justify-content-center align-self-center text-dark font-weight-bold">{{ form.env_select.label }}</div>
    <div class="p-1 m-1 flex-column">{{ form.env_select(class_="form-control") }}</div>
    <div class="p-1 m-1 flex-column justify-content-center align-self-center text-dark font-weight-bold">Type:</div>
    <div class="p-1 m-1 flex-column">{{ form.type_select(class_="form-control") }}</div>
    <div class="p-1 m-1 flex-column">{{ form.btngo(class_="btn button_fpa btn-success") }}</div>
  </div>
  </form>
{% endif %}

{% if emails %}
<div class="d-flex flex-row bg-light pl-1 h-30">
  <div class="m-2 p-2 flex-column justify-content-center align-self-center text-dark font-weight-bold">Email Recipients</div>
  <div class="m-2 p-2 flex-column justify-content-center align-self-center text-dark">{{ emails.param_value }}</div>
</div>
{% endif %}


{% if content %}
<div class="d-flex flex-row bg-light pl-1 h-30">
  <div class="m-2 p-2 flex-column justify-content-center align-self-center text-dark">{{ content.param_value | safe }}</div>
</div>
{% endif %}


 {% for event in events %}
 {% if event["doi_type"] == 131 %}
   <div>
    <div class="p-1 bg-info text-white">BaU Event "{{ event["doi_name"] }}"</div>
    <table class="table table-striped">
    {% for booked in bookings %}
     {% if booked["slot_id"] == event["id"] %}
      <tr>
        <td>{{ booked["title"] }}</td>
        <td>{{ booked["ticket"] }}</td>
        <td>{{ booked["complex_name"] }}</td>
        <td>{{ fmt_date(booked["start_dt"]) }}<br/>{{ fmt_date(booked["end_dt"]) }}</td>
        <td>{{ booked["change_ref"] }} {{ booked["change_subref"] }}</td>
        <td>{{ booked["forename"] }} {{ booked["surname"] }}</td>
        <td>{{ booked["email"] }}</td>
      </tr>
     {% endif %}
  {% endfor %}
  {% if event["totalBookings"] == 0 %}
    <tr><td>No bookings found for this BaU event</td></tr>
  {% endif %}
    </table>
    </div>
 {% endif %}
 {% endfor %}


 {% for booked in bookings %}
 {% if booked["slot_id"] == 0 %}
 <div class="p-1 bg-info text-white">Non-BaU Bookings</div>
 <table class="table table-striped">
   <tr>
     <td>{{ booked["title"] }}</td>
     <td>{{ booked["ticket"] }}</td>
     <td>{{ booked["complex_name"] }}</td>
     <td>{{ fmt_date(booked["start_dt"]) }}<br/>{{ fmt_date(booked["end_dt"]) }}</td>
     <td>{{ booked["change_ref"] }} {{ booked["change_subref"] }}</td>
     <td>{{ booked["forename"] }} {{ booked["surname"] }}</td>
     <td>{{ booked["email"] }}</td>
   </tr>
 </table>
 {% endif %}
 {% endfor %}


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
          icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar',
            up: 'fas fa-arrow-up',
            down: 'fas fa-arrow-down',
            previous: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            today: 'far fa-calendar-check-o',
            clear: 'far fa-trash',
            close: 'far fa-times'
          },
          locale: 'en-gb',
          allowInputToggle: false,
          showClose: true,
          sideBySide: false,
          ignoreReadonly: true,
          format: 'L'
      });
    });
</script>

{% endblock %}
