{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<h5 class="card-header text-white bg-secondary">Dashboard</h5>

<div class="container-fluid mt-3">

{% if is_admin() %}
<div class="p-2 m-3 bg-light text-black font-weight-bold">Booking Administration</div>
<table class="table table-striped" id="t_admin">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="w-25">Title</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Project</th>
      <th scope="col">Complex</th>
      <th scope="col">Approved</th>
      <th scope="col">Approved By</th>
      <th scope="col">Logged</th>
    </tr>
  </thead>
  <tbody>
    {%- for rec in data1 -%}
    <tr>
      <td class="w-25"><a href="{{ url_for('gui_blueprint._editbooking', id=rec[0].id) }}">{{ rec[0].title }}</a></td>
      <td>{{ rec[0].start_dt }}</td>
      <td>{{ rec[0].end_dt }}</td>
      <td>{{ rec[0].project }}</td>
      <td>{{ rec[1].complex_name }}</td>
      <td><a data-toggle="tooltip" data-placement="top" title="{{ rec.approval_reason }}" href="{{ url_for('gui_blueprint._approvebooking', id=rec[0].id) }}">{{ rec[0].approved_date }}</a></td>
      <td>{{ rec[0].approved_by }}</td>
      <td>{{ rec[0].logged }}</td>
    </tr>
    {%- endfor -%}
  </tbody>
</table>

{%- else -%}

<div class="p-2 m-3 bg-light text-black font-weight-bold">My Bookings</div>
<table class="table table-striped" id="t_bookings">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="w-25">Title</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Project</th>
      <th scope="col">Cluster</th>
      <th scope="col">Approved</th>
      <th scope="col">Approved By</th>
      <th scope="col">Logged</th>
    </tr>
  </thead>
  <tbody>
    {%- for rec in data2 -%}
    <tr>
      <td class="w-25"><a href="{{ url_for('gui_blueprint._editbooking', id=rec.id) }}">{{ rec.title }}</a></td>
      <td>{{ rec.start_dt }}</td>
      <td>{{ rec.end_dt }}</td>
      <td>{{ rec.project }}</td>
      <td>{{ rec.complex }}</td>
      <td><span class="btn btn-secondary py-0 my-0 mx-2" data-toggle="tooltip" data-placement="top" title="{{ rec.approval_reason }}">{{ rec.approved_date }}</span></td>
      <td>{{ rec.approved_by|replace("None", "") }}</td>
      <td>{{ rec.logged }}</td>
    </tr>
    {%- endfor -%}
  </tbody>
</table>

{% endif %}

</div>

<script>
$(document).ready( function () {
    $('#t_admin').DataTable();
} );

$(document).ready( function () {
    $('#t_bookings').DataTable();
} );
</script>

{% endblock %}
