{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h5 class="card-header text-white bg-secondary">Dashboard</h5>

<div class="container-fluid mt-3">

{% if is_admin() %}
<div class="d-flex justify-content-between bg-light">
  <div class="p-0 text-black font-weight-bold">
    <h5>Bookings</h5>
  </div>
  <div class="p-2">
    <form action="{{ url_for('gui_blueprint._index') }}" method="GET">
    {{ form.date_select(class_="selectpicker") }}
    {{ form.submit() }}
    </form>
  </div>
</div>

<table class="table table-striped" id="t_admin">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="">Title</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Ticket</th>
      <th scope="col">Project</th>
      <th scope="col">Complex</th>
      <th scope="col">Approved</th>
      <th scope="col">Approved By</th>
      <th scope="col">Logged</th>
    </tr>
  </thead>
  <tbody>
    {%- for rec in admin -%}
    <tr>
      <td class=""><a href="{{ url_for('gui_blueprint._editbooking', id=rec[0].id) }}">{{ rec[0].title }}</a></td>
      <td>{{ rec[0].start_dt }}</td>
      <td>{{ rec[0].end_dt }}</td>
      <td>{{ rec[0].ticket }}</td>
      <td>{{ rec[0].project }}</td>
      <td>{{ rec[1].complex_name }}</td>
      <td><a data-toggle="tooltip" data-placement="top" title="{{ rec.approval_reason }}" href="{{ url_for('gui_blueprint._approvebooking', id=rec[0].id) }}">{{ rec[0].approved_date }}</a></td>
      <td>{{ rec[0].approved_by }}</td>
      <td>{{ rec[0].logged }}</td>
    </tr>
    {%- endfor -%}
  </tbody>
</table>

{%- else -%}

<div class="d-flex justify-content-between bg-light">
  <div class="p-0 text-black font-weight-bold">
    <h5>My Bookings</h5>
  </div>
  <div class="p-2">
    <form action="{{ url_for('gui_blueprint._index') }}" method="GET">
    {{ form.date_select(class_="selectpicker") }}
    {{ form.submit() }}
    </form>
  </div>
</div>

<table class="table table-striped" id="t_bookings">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="">Title</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Ticket</th>
      <th scope="col">Project</th>
      <th scope="col">Cluster</th>
      <th scope="col">Approved</th>
      <th scope="col">Logged</th>
    </tr>
  </thead>
  <tbody>
    {%- for rec in book -%}
    <tr>
      <td class=""><a href="{{ url_for('gui_blueprint._editbooking', id=rec[0].id) }}">{{ rec[0].title }}</a></td>
      <td>{{ rec[0].start_dt }}</td>
      <td>{{ rec[0].end_dt }}</td>
      <td>{{ rec[0].ticket }}</td>
      <td>{{ rec[0].project }}</td>
      <td>{{ rec[1].complex_name }}</td>
      <td><span class="btn btn-secondary py-0 my-0 mx-2" data-toggle="tooltip" data-placement="top" title="{{ rec[0].approval_reason }}">{{ rec[0].approved_date }}</span></td>
      <td>{{ rec[0].logged }}</td>
    </tr>
    {%- endfor -%}
  </tbody>
</table>

{% endif %}

</div>

<script>
$(document).ready( function () {
    $('#t_admin').DataTable( {
      dom: 'ftiprlB',
      buttons: ['excel','print','pdf']
    });

    // $("#date_select option[value='{{ flag }}']").prop('selected', true);
    $("#date_select").val('{{ flag }}').change();

});

$(document).ready( function () {
    $('#t_bookings').DataTable( {
    dom: 'ftiprlB',
    buttons: ['excel','print','pdf']
  });
});


</script>

{% endblock %}
