{% extends "base.html" %}
{% block title %}Dates{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<div class="container-fluid">

  <div class="d-flex justify-content-between bg-light">
    <div class="p-0 text-black font-weight-bold">
      <h3>Dates&nbsp;&nbsp;&nbsp;<button type="button" onclick=location.href='{{ url_for('gui_blueprint._editdate', id=0) }}' class="btn btn-success">Add</button></h3>
    </div>
    <div class="p-2">
      <form action="{{ url_for('gui_blueprint._dates') }}" method="GET">
      {{ form.date_select(class_="selectpicker") }}
      {{ form.submit() }}
      </form>
    </div>
  </div>

  <table class="table table-striped" id="t_dates">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Regions</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Priority</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>

      {% for rec in data %}
      <tr>
        <td><a href="{{ url_for('gui_blueprint._editdate', id=rec['id']) }}">{{ rec["doi_name"] }}</a></td>
        <td>{{ rec["doi_regions"] }}</td>
        <td>{{ rec["doi_start_dt"] }}</td>
        <td>{{ rec["doi_end_dt"] }}</td>
        <td>{{ rec["priority"] }}</td>
        <td>{{ rec["type"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(document).ready( function () {

  $('#t_dates').DataTable( {
    dom: 'ftiprlB',
    buttons: ['excel','print','pdf']
  });

  $("#date_select option[value='{{ flag }}']").prop('selected', true);

});

function get_dates(flag) {
  document.location.href = "{{ url_for('gui_blueprint._dates', flag="") }}" + flag;
}

</script>

{% endblock %}
