{% extends "base.html" %}
{% block title %}Dates{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<div class="container-fluid mt-3">
  <h3>Dates&nbsp;&nbsp;&nbsp;<button type="button" onclick=location.href='{{ url_for('gui_blueprint._editdate', id=0) }}' class="btn btn-success">Add</button></h3>

  <table class="table table-striped" id="t_dates">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="w-50">Name</th>
        <th scope="col">Regions</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Priority</th>
        <th scope="col">HAP</th>
        <th scope="col">Locked</th>
      </tr>
    </thead>
    <tbody>

      {% for rec in data %}
      <tr>
        <td class="w-50"><a href="{{ url_for('gui_blueprint._editdate', id=rec[0]) }}">{{ rec[1] }}</a></td>
        <td>{{ rec[2] }}</td>
        <td>{{ rec[3] }}</td>
        <td>{{ rec[4] }}</td>
        <td>{{ rec[5] }}</td>

        {%- if rec[6].upper() == 'NO' -%}
        <td>{{ rec[6] }}</td>
        {%- else -%}
        <td>HAP</td>
        {%- endif -%}

        {%- if rec[7].upper() == 'NO' -%}
        <td>{{ rec[7] }}</td>
        {%- else -%}
        <td>Locked</td>
        {%- endif -%}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(document).ready( function () {
    $('#t_dates').DataTable();
} );

</script>

{% endblock %}
