{% extends "base.html" %}
{% block title %}Edit Booking{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}


    {% if form.id.data|int > 0 %}
    <h5 class="card-header text-white bg-secondary">Booking: "{{ form.title.data }}"</h5>
    <form action="{{ url_for('gui_blueprint._editbooking', id=form.id.data) }}" method="POST" novalidate class="text-center">
    {% else %}
    <h5 class="card-header text-white bg-secondary">New Booking</h5>
    <form action="{{ url_for('gui_blueprint._editbooking', id=0) }}" method="POST" novalidate class="text-center">
    {% endif %}
    <!-- h3><span class="badge m-2 p-2 font-weight-bold badge-dark">Step 1 of 2</span></h3 -->

    {%- if form.approval_required.data == "1" -%}
    <div class="alert-warning p-2 m-3 font-weight-bold text-black">{{ form.approval_required.render_kw.title }}</div>
    {%- endif -%}

        <table class="form-group w-75 align-text-top">
          <tr>
            <td>{{ form.hidden_tag() }}</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-center">{{ form.title.label  }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ form.title(class_="form-control") }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.owner_id.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ field_with_help(form.owner_id(class_="form-control"), form.owner_id.render_kw["title"]) }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-center">{{ form.ticket.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ form.ticket(class_="form-control") }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.project.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ form.project(class_="form-control") }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.budget.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ form.budget(class_="form-control") }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.tmp_date.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ form.tmp_date(class_="form-control", default=form.start_dt.data) }}</td>
          </tr>


          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-center">{{ form.tmp_start_t.label }}</td>
            <td class="w-75 text-left mx-2 p-1">
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
              {{ field_with_help(form.tmp_start_t(class_="form-control-plaintext form-control datetimepicker-input"), form.tmp_start_t.render_kw["title"], igid="datetimepicker1") }}
              </div>
            </td>
          </tr>

          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-center">{{ form.tmp_end_t.label }}</td>
            <td class="w-75 text-left mx-2 p-1">
              <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
              {{ field_with_help(form.tmp_end_t(class_="form-control-plaintext form-control datetimepicker-input"), form.tmp_end_t.render_kw["title"], igid="datetimepicker2") }}
              </div>
            </td>
          </tr>

          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.stakeholder_id.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ field_with_help(form.stakeholder_id(class_="form-control"), form.stakeholder_id.render_kw["title"]) }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.description.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ form.description(rows=5, class_="form-control") }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.complex_text.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ form.complex_text(class_="form-control") }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.cluster.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ form.cluster(class_="form-control") }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.change_ref.label }}</td>
            <td class="w-75 text-left mx-2 p-1">{{ field_with_help(form.change_ref(class_="form-control"),  form.change_ref.render_kw["title"]) }}</td>
          </tr>
          <tr>
            <td class="w-25 text-right mx-2 p-1 align-text-top">{{ form.change_subref.label }}</td>
            <!-- td class="w-75 text-left mx-2 p-1">{{ form.change_subref(class_="form-control") }}</td -->
            <td class="w-75 text-left mx-2 p-1">{{ field_with_help(form.change_subref(class_="form-control"), form.change_subref.render_kw["title"]) }}</td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td class="p-5">

            {%- if form.id.data|int == 0 -%}
             {{ form.checkbtn(class_="btn btn-success button_fpa") }}
            {% endif %}

            {%- if form.id.data|int > 0 or (form.owner_id.data == get_user() or is_admin()) -%}
             {{ form.savebtn(class_="btn btn-success button_fpa") }}
            {% endif %}

            <button type=button name="cancel" id="cancel" class="btn btn-primary button_fpa" onclick="location.href='{{ url_for('gui_blueprint._bookings') }}'">Cancel</button>

            {% if form.id.data|int > 0 and ((form.owner_id == get_user()) or is_admin()) -%}
              {{ form.deletebtn(class_="btn btn-danger") }}
              &nbsp;<button type=button name="cancel" id="cancel" class="btn btn-danger button_fpa" data-toggle="modal" data-target="#messageModalCenter">Delete</button>
            {%- endif -%}

            </td>
          </tr>
          <tr><td>{{ form.approval_required(class_="invisible") }}</td></tr>
        </table>
    </form>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
              icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
              },
              locale: 'en-gb',
              allowInputToggle: false,
              stepping: 5,
              showClose: true,
              sideBySide: false,
              ignoreReadonly: true,
              format: 'LT'
            });
        });

        $(function () {
            $('#datetimepicker2').datetimepicker({
              icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
              },
              locale: 'en-gb',
              allowInputToggle: false,
              stepping: 5,
              showClose: true,
              sideBySide: false,
              ignoreReadonly: true,
              format: 'LT'
            });
        });

        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        })

        {% if not is_admin() and form.approved_date.data is not none %}
        $(document).ready(function () {
          $('#datetimepicker1').data("datetimepicker").disable();
          $('#datetimepicker2').data("datetimepicker").disable();
        });
        {% endif %}

    </script>


{% endblock %}
