{% block content %}

  <div class="modal-header">
  <h2 class="display-10"></h2>
  <h5 class="modal-title" id="newModalLabel">Date: {{ dte }}
     &nbsp;&nbsp;"{{ events[0]["doi_name"] }}"
  </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<!-- Used to show the BaU report and booking -->

  <div id="modal-body">
    <div class="modal-body">
      <div class="container" id="events-container">

        <form action="{{ url_for('gui_blueprint._editbooking', id=0, evt=id) }}" method="POST">
        <div class="modal-body">
          <div>{{ form.hidden_tag() }}</div>
          <div class="px-2 bg-secondary text-white">Choose a Group</div>
          <div>{{ form.group_select() }}</div>
          <div class="px-2 bg-secondary text-white">Choose a Complex</div>
          <div>{{ form.complex_select() }}</div>
          <input type="hidden" id="start" name="start" value="{{ dte }}"/>
        </div>
        <div class="modal-footer">

          {% if (is_earlier(dte) and bookings|length < form.max_slots.data) and events[0]["doi_change_ref"] != none %}
          {{ form.nextbtn(class_="btn btn-primary button_fpa") }}
          {% else %}
          <div class="px-2 bg-warning text-black">Max slots already booked, date is past or event data missing</div>
          {% endif %}

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>

        <div class="px-2 text-info font-weight-bold">Slot Bookings</div>
        <table class="table table-striped" id="t_admin">
          <thead class="">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Owner</th>
              <th scope="col">Ticket</th>
              <th scope="col">Approved?</th>
            </tr>
          </thead>
          <tbody>
            {%- for rec in bookings -%}
            <tr>
              <td>{{ rec["title"] }}</td>
              <td>{{ rec["owner_id"] }}</td>
              <td>{{ rec["ticket"] }}</td>
              {% if rec["approved_date"] is none %}
                <td class="text-danger">No</td>
              {% else %}
                <td class="text-success">Yes</td>
              {% endif %}
            </tr>
            {%- endfor -%}
            {% if not bookings|length %}
            <tr><td colspan="4">There are no slots booked</td></tr>
            {% endif %}
          </tbody>
        </table>


      </div>
  <div class="modal-footer">
  </div>
</div>

{% endblock %}
