.button_fpa {
 width: 150px;
}

.calendar_fpa {
  position: sticky;
  left: 50px;
  right: 300px;
  top: 40px;
  bottom: 100px;
}

.custom_tt_template {
  border-color:black;
  border-style:solid;
  color:black;
  max-width:400px
}
