.button_fpa {
 width: 150px;
}

.calendar_fpa {
  position: sticky;
  left: 50px;
  right: 300px;
  top: 40px;
  bottom: 100px;
}

.custom_tt_template {
  border-color:black;
  border-style:solid;
  color:black;
  max-width:400px
}

.fc-event {
    cursor: pointer;
}

.hap_event {
  background-color: #48D1CC;
  color: #000000;
}

.info_event {
  background-color: #ADD8E6;
  color: #000000;
}

.locked_event {
  background-color: #FFE4E1;
  color: #FF0000;
}

.bau_event {
    background-color: #FFDAB9;
    color: #000000;
}
